<launch>
<node pkg="tf" type="static_transform_publisher" name="base_tile_1" args="0.000000 -0.055000 0 0 0 0 base_floor base_tile_1 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_2" args="0.605000 -0.055000 0 0 0 0 base_floor base_tile_2 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_3" args="1.210000 -0.055000 0 0 0 0 base_floor base_tile_3 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_4" args="1.815000 -0.055000 0 0 0 0 base_floor base_tile_4 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_5" args="2.420000 -0.055000 0 0 0 0 base_floor base_tile_5 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_6" args="3.025000 -0.055000 0 0 0 0 base_floor base_tile_6 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_7" args="3.630000 -0.055000 0 0 0 0 base_floor base_tile_7 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_8" args="4.235000 -0.055000 0 0 0 0 base_floor base_tile_8 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_9" args="4.840000 -0.055000 0 0 0 0 base_floor base_tile_9 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_10" args="5.445000 -0.055000 0 0 0 0 base_floor base_tile_10 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_11" args="6.050000 -0.055000 0 0 0 0 base_floor base_tile_11 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_12" args="0.000000 0.550000 0 0 0 0 base_floor base_tile_12 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_13" args="0.605000 0.550000 0 0 0 0 base_floor base_tile_13 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_14" args="1.210000 0.550000 0 0 0 0 base_floor base_tile_14 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_15" args="1.815000 0.550000 0 0 0 0 base_floor base_tile_15 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_16" args="2.420000 0.550000 0 0 0 0 base_floor base_tile_16 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_17" args="3.025000 0.550000 0 0 0 0 base_floor base_tile_17 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_18" args="3.630000 0.550000 0 0 0 0 base_floor base_tile_18 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_19" args="4.235000 0.550000 0 0 0 0 base_floor base_tile_19 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_20" args="4.840000 0.550000 0 0 0 0 base_floor base_tile_20 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_21" args="5.445000 0.550000 0 0 0 0 base_floor base_tile_21 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_22" args="6.050000 0.550000 0 0 0 0 base_floor base_tile_22 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_23" args="0.000000 1.155000 0 0 0 0 base_floor base_tile_23 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_24" args="0.605000 1.155000 0 0 0 0 base_floor base_tile_24 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_25" args="1.210000 1.155000 0 0 0 0 base_floor base_tile_25 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_26" args="1.815000 1.155000 0 0 0 0 base_floor base_tile_26 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_27" args="2.420000 1.155000 0 0 0 0 base_floor base_tile_27 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_28" args="3.025000 1.155000 0 0 0 0 base_floor base_tile_28 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_29" args="3.630000 1.155000 0 0 0 0 base_floor base_tile_29 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_30" args="4.235000 1.155000 0 0 0 0 base_floor base_tile_30 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_31" args="4.840000 1.155000 0 0 0 0 base_floor base_tile_31 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_32" args="5.445000 1.155000 0 0 0 0 base_floor base_tile_32 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_33" args="6.050000 1.155000 0 0 0 0 base_floor base_tile_33 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_34" args="0.000000 1.760000 0 0 0 0 base_floor base_tile_34 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_35" args="0.605000 1.760000 0 0 0 0 base_floor base_tile_35 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_36" args="1.210000 1.760000 0 0 0 0 base_floor base_tile_36 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_37" args="1.815000 1.760000 0 0 0 0 base_floor base_tile_37 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_38" args="2.420000 1.760000 0 0 0 0 base_floor base_tile_38 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_39" args="3.025000 1.760000 0 0 0 0 base_floor base_tile_39 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_40" args="3.630000 1.760000 0 0 0 0 base_floor base_tile_40 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_41" args="4.235000 1.760000 0 0 0 0 base_floor base_tile_41 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_42" args="4.840000 1.760000 0 0 0 0 base_floor base_tile_42 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_43" args="5.445000 1.760000 0 0 0 0 base_floor base_tile_43 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_44" args="6.050000 1.760000 0 0 0 0 base_floor base_tile_44 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_45" args="0.000000 2.365000 0 0 0 0 base_floor base_tile_45 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_46" args="0.605000 2.365000 0 0 0 0 base_floor base_tile_46 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_47" args="1.210000 2.365000 0 0 0 0 base_floor base_tile_47 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_48" args="1.815000 2.365000 0 0 0 0 base_floor base_tile_48 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_49" args="2.420000 2.365000 0 0 0 0 base_floor base_tile_49 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_50" args="3.025000 2.365000 0 0 0 0 base_floor base_tile_50 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_51" args="3.630000 2.365000 0 0 0 0 base_floor base_tile_51 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_52" args="4.235000 2.365000 0 0 0 0 base_floor base_tile_52 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_53" args="4.840000 2.365000 0 0 0 0 base_floor base_tile_53 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_54" args="5.445000 2.365000 0 0 0 0 base_floor base_tile_54 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_55" args="6.050000 2.365000 0 0 0 0 base_floor base_tile_55 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_56" args="4.840000 2.970000 0 0 0 0 base_floor base_tile_56 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_57" args="5.445000 2.970000 0 0 0 0 base_floor base_tile_57 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_58" args="6.050000 2.970000 0 0 0 0 base_floor base_tile_58 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_59" args="4.840000 3.575000 0 0 0 0 base_floor base_tile_59 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_60" args="5.445000 3.575000 0 0 0 0 base_floor base_tile_60 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_61" args="6.050000 3.575000 0 0 0 0 base_floor base_tile_61 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_62" args="4.840000 4.180000 0 0 0 0 base_floor base_tile_62 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_63" args="5.445000 4.180000 0 0 0 0 base_floor base_tile_63 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_64" args="6.050000 4.180000 0 0 0 0 base_floor base_tile_64 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_65" args="4.840000 4.785000 0 0 0 0 base_floor base_tile_65 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_66" args="5.445000 4.785000 0 0 0 0 base_floor base_tile_66 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_67" args="6.050000 4.785000 0 0 0 0 base_floor base_tile_67 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_68" args="4.840000 5.390000 0 0 0 0 base_floor base_tile_68 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_69" args="5.445000 5.390000 0 0 0 0 base_floor base_tile_69 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_70" args="6.050000 5.390000 0 0 0 0 base_floor base_tile_70 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_71" args="0.000000 3.080000 0 0 0 0 base_floor base_tile_71 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_72" args="0.605000 3.080000 0 0 0 0 base_floor base_tile_72 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_73" args="1.210000 3.080000 0 0 0 0 base_floor base_tile_73 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_74" args="1.815000 3.080000 0 0 0 0 base_floor base_tile_74 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_75" args="0.000000 3.685000 0 0 0 0 base_floor base_tile_75 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_76" args="0.605000 3.685000 0 0 0 0 base_floor base_tile_76 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_77" args="1.210000 3.685000 0 0 0 0 base_floor base_tile_77 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_78" args="1.815000 3.685000 0 0 0 0 base_floor base_tile_78 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_79" args="0.000000 4.290000 0 0 0 0 base_floor base_tile_79 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_80" args="0.605000 4.290000 0 0 0 0 base_floor base_tile_80 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_81" args="1.210000 4.290000 0 0 0 0 base_floor base_tile_81 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_82" args="1.815000 4.290000 0 0 0 0 base_floor base_tile_82 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_83" args="0.000000 4.895000 0 0 0 0 base_floor base_tile_83 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_84" args="0.605000 4.895000 0 0 0 0 base_floor base_tile_84 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_85" args="1.210000 4.895000 0 0 0 0 base_floor base_tile_85 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_86" args="1.815000 4.895000 0 0 0 0 base_floor base_tile_86 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_87" args="0.000000 5.500000 0 0 0 0 base_floor base_tile_87 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_88" args="0.605000 5.500000 0 0 0 0 base_floor base_tile_88 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_89" args="1.210000 5.500000 0 0 0 0 base_floor base_tile_89 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_90" args="1.815000 5.500000 0 0 0 0 base_floor base_tile_90 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_91" args="3.640000 3.080000 0 0 0 0 base_floor base_tile_91 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_92" args="4.245000 3.080000 0 0 0 0 base_floor base_tile_92 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_93" args="3.640000 3.685000 0 0 0 0 base_floor base_tile_93 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_94" args="4.245000 3.685000 0 0 0 0 base_floor base_tile_94 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_95" args="3.035000 4.290000 0 0 0 0 base_floor base_tile_95 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_96" args="3.640000 4.290000 0 0 0 0 base_floor base_tile_96 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_97" args="4.245000 4.290000 0 0 0 0 base_floor base_tile_97 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_98" args="2.430000 4.895000 0 0 0 0 base_floor base_tile_98 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_99" args="3.035000 4.895000 0 0 0 0 base_floor base_tile_99 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_100" args="3.640000 4.895000 0 0 0 0 base_floor base_tile_100 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_101" args="4.245000 4.895000 0 0 0 0 base_floor base_tile_101 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_102" args="3.035000 5.500000 0 0 0 0 base_floor base_tile_102 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_103" args="3.640000 5.500000 0 0 0 0 base_floor base_tile_103 10" /> 
<node pkg="tf" type="static_transform_publisher" name="base_tile_104" args="4.245000 5.500000 0 0 0 0 base_floor base_tile_104 10" /> 
</launch>
